body {
    background: lightgray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

section {
    background: white;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

article {
    margin: 2rem;
    background: lightblue;
    border: 2px solid gray;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

article header a {
    background: rgb(43, 102, 156);
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 20px;
    display: inline-block;
}

article header h1 {
    font-size: 2rem;
}

article figure {
    max-width: 100%;
    order: -1;
}

footer {
    text-align: center;
}